html, body {
  background-color: #282c34;
  background: linear-gradient(45deg, #282c34, #2e3440);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.space {
  height: 25px;
}

.footer {
  height: 72px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

/*title bar*/

.main > .topBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  background: linear-gradient(45deg, #21252b, #262b33);
  -webkit-user-select: none; 
}

.topBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -webkit-app-region: drag;
}

.titleBar > .title {
  margin-left: 10px;
  margin-bottom: 4px;
  color: white;
}

.topBar > .titleBarBtns {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 12px;
  align-self: center;
}

.titleBarBtns > .topBtn {
  width: 6px;
  height: 12px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.middle {
  flex-direction: column;
  margin: 25px;
  justify-content: center;
  align-items: center;
  display: flex;

  -webkit-user-select: none; 
}

/*sliders*/

/*slider-red*/

.slider-container .bar_red {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 66px;
  width: 200px;
  height: 6px;
  background-color: #21252b;
  border-radius: 3px;
  overflow: hidden;
}

.slider-container .bar_red .fill_red {
  display: block;
  width: 0;
  height: 100%;
  background: #ff3333;
}

.slider-container .slider_red {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  border-radius: 3px;
  outline: none;
  background: transparent;
  margin-left: 4px;
  cursor: pointer;
}

.slider-container .slider_red::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ff3333;
  border-radius: 50%;
}

/*slider-green*/

.slider-container .bar_green {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 112px;
  width: 200px;
  height: 6px;
  background-color: #21252b;
  border-radius: 3px;
  overflow: hidden;
}

.slider-container .bar_green .fill_green {
  display: block;
  width: 0;
  height: 100%;
  background: #3ba55d;
}

.slider-container .slider_green {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  border-radius: 3px;
  outline: none;
  background: transparent;
  margin-left: 4px;
  cursor: pointer;
}

.slider-container .slider_green::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #3ba55d;
  border-radius: 50%;
}

/*slider-blue*/

.slider-container .bar_blue {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 158px;
  width: 200px;
  height: 6px;
  background-color: #21252b;
  border-radius: 3px;
  overflow: hidden;
}

.slider-container .bar_blue .fill_blue {
  display: block;
  width: 0;
  height: 100%;
  background: #144fff;
}

.slider-container .slider_blue {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  border-radius: 3px;
  outline: none;
  background: transparent;
  margin-left: 4px;
  cursor: pointer;
}

.slider-container .slider_blue::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #144fff;
  border-radius: 50%;
}

/*hex display*/

.hexbox {
  background-color: #21252b;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}

.hex {
  z-index: 0;
  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3px;
}

.copyBtn {
  position: absolute;
  top: 193px;
  z-index: 1;
  width: 80px;
  height: 30px;
  background: transparent;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*colour display*/

.display {
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: white;
}

/*on/off*/

.toggle {
  isolation: isolate;
  position: relative;
  -webkit-appearance: none;
  background-color: #21252b;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}

.toggle-state {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.indicator {
  position: relative;
  z-index: 0;
  height: 26px;
  width: 26px;
  margin-top: 2px;
  margin-left: 1px;
  background: #ecf0f3;
  border-radius: 15px;
  transform: translate3d(10%, -40px, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  cursor: pointer;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(50px, -40px, 0);
}